.student-grades-page {
  display: flex;
}
.table-colum {
  margin-top: 20px;
  margin-left: 150px;
}
.ant-table {
  width: 1000px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ant-input-number {
  width: 100%;
}

.search-bar {
  margin-bottom: 20px;
}

.ant-table-pagination {
  margin-top: 20px;
  text-align: right;
}

.modal-input {
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}
