.new-main{
    display: flex;
    
}
.ortala{
    position: relative;
    left: 640px;
   
}
.baslangic{
    width: 1000px;
    height: 250px;
    position: relative;
    top: 100px;
    right: 60px;

}
.devamsizliklar{
    display: inline;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;

}
.toplamsayi{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 75px;
   
}