.duyurular-container {
    
    max-height: 540px; /* İstediğiniz yüksekliği ayarlayın */
    overflow-y: auto;
  }
  
  .duyurular-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .duyurular-table th,
  .duyurular-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 1000px;
    height: 100px;
  }
