.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.logo {
  width: 75px;
  margin-bottom: 20px;
}

.title {
  color: #1890ff;
  margin-bottom: 40px;
}

.role-buttons {
  display: flex;
  justify-content: center;
}

.role-buttons a {
  margin: 0 10px;
}
